* {
    margin: 0;
    padding: 0;
}

$rojo: red;
$aqua: aqua;
$naranja:#c2932dff;
$azulNav:#0f1d47;
//animacion 
@keyframes respiracionAqua {
    0% {
        box-shadow: 0 0 40px 18px $aqua;
    }
    50% {
        box-shadow: 0 0 40px 10px #9fd5d1;
    }
    100% {
        box-shadow: 0 0 40px 18px $aqua;
    }
}

@keyframes respiracionRojo {
    0% {
        box-shadow: 0 0 40px 15px $rojo;
    }
    50% {
        box-shadow: 0 0 40px 10px $rojo;
    }
    100% {
        box-shadow: 0 0 40px 15px $rojo;
    }
}

.navegacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    justify-content: start;
    grid-template-areas: "icono logo none";
    align-items: center;
    background-color: black;
    border-bottom: 2px solid $aqua;
    #menu__check {
        display: none;
    }
    #menu__icono {
        grid-area: icono;
        width: 30px;
        margin-left: 8px;
        &:hover {
            cursor: pointer;
        }
    }
    a {
        grid-area: logo;
        font-size: 25px;
        text-decoration: none;
        color: aqua;
        justify-self: center;
        font-family: 'Monoton', cursive;
    }
}

.encabezado {
    display: flex;
    justify-content: center;
    background-color: #1f1e1c;
    width: 100%;
    height: 100vh;
    .encabezado__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 200px;
        height: 200px;
        border: 10px double $rojo;
        background-color: black;
        animation-name: respiracionAqua;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
        border-radius: 100%;
        color: white;
        #nombre,
        #apellido {
            font-size: 100px;
            display: none;
        }
        #logo {
            font-size: 110px;
            color: $aqua;
            font-family: 'Monoton', cursive;
        }
    }
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1f1e1c, rgb(77, 77, 77));
    .principal__titulo {
        font-family: 'Alata', sans-serif;
        color: $aqua;
        font-size: 40px;
        letter-spacing: 3px;
        margin-bottom: 90px;
        z-index: 99;
    }
    .principal__nombre {
        color: $rojo;
        margin-bottom: 20px;
        font-size: 30px;
        letter-spacing: 3px;
        font-family: 'Alata', sans-serif;
        z-index: 98;
    }
    .principal__foto {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 10px double $aqua;
        animation-name: respiracionRojo;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-delay: 0;
    }
    .principal__descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 200px;
        border-radius: 30px;
        font-family: 'Alata', sans-serif;
        text-align: center;
        background-color: rgb(196, 250, 250);
        box-shadow: 0 0 10px 5px white;
    }
    .principal__proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 300px;
        border-radius: 30px;
        background-color: rgb(196, 250, 250);
        box-shadow: 0 0 10px 5px white;
        overflow: hidden;
        #proyecto1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            overflow: hidden;
            width: 80%;
            height: 90%;
            a {
                color: $rojo;
                text-shadow: white 0 -1px 2px;
                text-decoration: none;
                font-size: 25px;
            }
            #link {
                width: 100%;
                height: 90%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                }
            }
        }
    }
}