<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Somos una empresa con muchos años de experiencia dedicada a la fundición de aluminio mediante diferentes métodos, hemos realizado trabajos para todo el país siempre aportando la mejor calidad a un precio competitivo y un entorno amigable con nuestros clientes">
    <meta name="keywords" content="funlaux, fundicion, aluminio, coquilla, tierra, srl, empresa, calidad, clientes, pyme, economico, manufactura">
    <title>Fun Laux || Contacto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/estilo.css">

</head>

<body>
    <div class="container-fluid m-0">
        <header class="header">

            <!--logo de la empresa y barra de navegacion-->

            <nav class="navegacion navbar navbar-expand-lg navbar-dark bg-black navbar-right">
                <a class="navegacion__logo" id="logo" href="../index.html">Funlaux</a>
                <button class="navegacion__boton navbar-toggler" type="button" role="button" data-toggle="collapse" data-target="#menu" title="menu"><span class="navbar-toggler-icon"></span></button>
                <div class="navegacion__colapsable collapse navbar-collapse" id="menu">

                    <ul class=" navegacion__lista nav navbar-nav ml-auto ">
                        <!--Navegacion Desktop-->
                        <li class="navegacion__item nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="nosotros.html">Nosotros</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="servicios.html">Servicios</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="galeria.html">Galeria</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="contacto container-fluid row ">
            <h1 class="contacto__titulo col-12 text-center">CONTACTANOS</h1>
            <article class="contacto__seccion col-12 col-lg-6 justify-content-center d-flex">
                <div class="contacto__fondo contacto__fondo--mapa d-flex flex-column justify-content">
                    <h2 class="contacto__subtitulo text-center">UBICACIÓN</h2>
                    <p class="text-center" id="direccion">Calle 50 Nº 1551, (1650) Villa Maipú, Buenos Aires</p>
                    <iframe class="contacto__mapa align-self-center my-3" id="mapa" title="Mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.5237654367934!2d-58.52116658505362!3d-34.565611462989295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7a0a5a87359%3A0x1fbb0052fc74919a!2sFun%20Laux%20SRL!5e0!3m2!1ses!2sar!4v1609096395566!5m2!1ses!2sar
                    " frameborder="0" style="border:0;" allowfullscreen=" " aria-hidden="false" tabindex="0"></iframe>
                </div>
            </article>
            <article class="contacto__seccion container col-12 col-lg-6 justify-content-center d-flex">
                <div class="contacto__fondo">
                    <h2 class="contacto__subtitulo text-center">Formulario de contacto</h2>
                    <form class="contacto__formulario">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellido">Apellido</label>
                                <input type="text" class="form-control" id="apellido">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="form7">Dejanos un mensaje</label>
                            <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
                        </div>
                        <div class="botones form-group justify-content-center d-flex">
                            <button type="submit" class="btn btn-dark">Enviar</button>
                            <button type="reset" class="btn btn-dark">Vaciar</button>
                        </div>
                    </form>
                </div>
            </article>
            <article class="contacto__seccion contacto__seccion--telefonos text-center d-flex justify-content-center col-12 col-md-6">
                <div class="contacto__fondo contacto__fondo--telefono">
                    <h2 id="tituloTelefono">Teléfonos</h2>
                    <p>Teléfono 1: 4755-9793</p>
                    <p>Teléfono 2: 4753-7343</p>
                </div>
            </article>
            <article class="contacto__seccion contacto__seccion--email text-center d-flex justify-content-center col-12 col-md-6">
                <div class="contacto__fondo contacto__fondo--email">
                    <h2>Email</h2>
                    <p>funlauxsrl@yahoo.com.ar</p>
                </div>
            </article>
        </main>
        <footer class="footer container-fluid d-flex">
            <div class="footer__textos col-12 col-sm-12 col-md-12 col-lg-6 my-2">
                <div class="footer__ubicacion row d-flex align-items-center mx-1 my-3">
                    <img class="footer__placeholdersvg d-none d-sm-none d-md-flex d-lg-flex" src="../assets/imagenes/placeholder.svg" alt="ubicacion">
                    <p class="footer__parrafo footer__parrafo--ubicacion small">Calle 50 Nº 1551, (1650) Villa Maipú, Buenos Aires</p>
                </div>
                <div class="footer__telefono row d-flex flex-row align-items-center mx-1 my-3">
                    <img class="footer__telefonosvg d-none d-sm-none d-md-flex d-lg-flex" src="../assets/imagenes/phone-call.svg" alt="telefono">
                    <div class="footer__parrafo footer__parrafo--numeros small d-flex flex-column align-self-center">
                        <p>Tel 1: 4755-9793</p>
                        <p>Tel 2: 4753-7343</p>
                    </div>
                </div>
                <div class="row d-flex flex-row align-content-center mx-1 my-3">
                    <img class="footer__sobresvg d-none d-sm-none d-md-flex d-lg-flex" src="../assets/imagenes/envelope.svg ">
                    <p class="footer__parrafo footer__parrafo--email small">funlauxsrl@yahoo.com.ar</p>
                </div>
            </div>
            <div class="footer__contacto d-none d-sm-none d-md-none d-lg-flex col-lg-6 flex-column justify-content-center align-items-center">
                <h4 class="footer__titulo">Envíanos un mensaje</h4>
                <a class="footer__boton btn btn-dark btn-outline-light btn-lg m-2" href="contacto.html ">CONTACTANOS</a>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>