<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Somos una empresa con muchos años de experiencia dedicada a la fundición de aluminio mediante diferentes métodos, hemos realizado trabajos para todo el país siempre aportando la mejor calidad a un precio competitivo y un entorno amigable con nuestros clientes">
    <meta name="keywords" content="funlaux, fundicion, aluminio, coquilla, tierra, srl, empresa, calidad, clientes, pyme, economico, manufactura">
    <title>Fun Laux || Galeria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/estilo.css">
</head>

<body>
    <div class="container-fluid m-0">
        <header class="header">

            <!--logo de la empresa y barra de navegacion-->

            <nav class="navegacion navbar navbar-expand-lg navbar-dark bg-black navbar-right ">
                <a class="navegacion__logo" id="logo" href="../index.html">Funlaux</a>
                <button class="navegacion__boton navbar-toggler" type="button" role="button" data-toggle="collapse" data-target="#menu" title="menu"><span class="navbar-toggler-icon"></span></button>
                <div class="navegacion__colapsable collapse navbar-collapse" id="menu">

                    <ul class=" navegacion__lista nav navbar-nav ml-auto ">
                        <!--Navegacion Desktop-->
                        <li class="navegacion__item nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="nosotros.html">Nosotros</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="servicios.html">Servicios</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="galeria.html">Galeria</a></li>
                        <li class="navegacion__item nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container-fluid " id="carrusel">
            <h1 class=" galeria__titulo text-center">Galería</h1>

            <ul class="galeria__imagenes col-12">
                <li id="miniatura1">
                    <img src="../assets/imagenes/lataGaleria.jpg" onclick="img_box(this)" alt="deposito">
                </li>
                <li id="miniatura2">
                    <img src="../assets/imagenes/motorGaleria.jpg" onclick="img_box(this)" alt="canaleta para cables">
                </li>
                <li id="miniatura3">
                    <img src="../assets/imagenes/DesmoldadoGaleria.jpg" onclick="img_box(this)" alt="desmoldado">
                </li>
                <li id="miniatura4">
                    <img src="../assets/imagenes/aluminio.jpg" onclick="img_box(this)" alt="aluminio fundido">
                </li>
                <li id="miniatura5">
                    <img src="../assets/imagenes/lingoteGaleria.jpg" onclick="img_box(this)" alt="lingotes de aluminio">
                </li>
                <li id="miniatura6">
                    <img src="../assets/imagenes/bandeja.jpg" onclick="img_box(this)" alt="producto bandeja">
                </li>
                <li id="miniatura7">
                    <img src="../assets/imagenes/pieza.jpg" onclick="img_box(this)" alt="ejemplo pieza">
                </li>
                <li id="miniatura8">
                    <img src="../assets/imagenes/calidad.jpg" onclick="img_box(this)" alt="control de calidad">
                </li>
            </ul>



        </main>

        <footer class="footer container-fluid d-flex">
            <div class="footer__textos col-12 col-sm-12 col-md-12 col-lg-6 my-2">
                <div class=" footer__ubicacion row d-flex align-items-center mx-1 my-3">
                    <img class="footer__placeholdersvg d-none d-sm-none d-md-flex d-lg-flex" src="../assets/imagenes/placeholder.svg " alt="ubicacion ">
                    <p class="footer__parrafo footer__parrafo--ubicacion small ">Calle 50 Nº 1551, (1650) Villa Maipú, Buenos Aires</p>
                </div>
                <div class="footer__telefono row d-flex flex-row align-items-center mx-1 my-3">
                    <img class=" footer__telefonosvg d-none d-sm-none d-md-flex d-lg-flex" src="../assets/imagenes/phone-call.svg " alt="telefono ">
                    <div class=" footer__parrafo footer__parrafo--numeros small d-flex flex-column align-self-center">
                        <p>Tel 1: 4755-9793</p>
                        <p>Tel 2: 4753-7343</p>
                    </div>
                </div>
                <div class="row d-flex flex-row align-content-center mx-1 my-3">
                    <img class="footer__sobresvg d-none d-sm-none d-md-flex d-lg-flex" src="../assets/imagenes/envelope.svg ">
                    <p class="footer__parrafo footer__parrafo--email small">funlauxsrl@yahoo.com.ar</p>
                </div>
            </div>
            <div class="footer__contacto d-none d-sm-none d-md-none d-lg-flex col-lg-6 flex-column justify-content-center align-items-center ">
                <h4 class="footer__titulo">Envíanos un mensaje</h4>
                <a class="footer__boton btn btn-dark btn-outline-light btn-lg m-2 " href="contacto.html ">CONTACTANOS</a>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../assets/js/img_box.js"></script>
</body>

</html>